<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cat.black.sciencequiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sq_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".LauncherScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Launcher definition -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- Deep links definition to github -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="www.github.com"
                    android:pathPrefix="/blackcathub/sciencequiz" />
                <data android:scheme="github"
                    android:host="blackcathub/sciencequiz" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>